/* mixin */
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
      "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 1.4rem;
    color: #333;
    background-color: #ededed;
    background-color: #e1e1e1;
}

.app-main {
    height: 100vh;
    width: 100vw;
    padding-top: 1px; /* 使Y轴向 异常滚动条消失 */
}

/* 侧边隐藏 主导航 */
.side {
    .side-btn {
        position: fixed;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        font-size: 3.6rem;
    }
    .side-container {
        height: 100%;
        background-color: #00142a;
    }
    .side-app-name {
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
}

/* 主导航 */
$nav-bar-height : 5.5rem;
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    min-height: $nav-bar-height;
    padding: 0 1rem;
    border: 1px solid #222325;
    color: #ccc;
    background-image: linear-gradient(90deg, #222325, #3b3c3f, #222325);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    &:after {
        @include clearfix;
    }
    span:hover{
        color: #fff;
    }
    .nav-state {
        float: left;
        height: $nav-bar-height;
        line-height: $nav-bar-height;
    }
    .nav-state .item {
        margin-right: 1rem;
        vertical-align: middle;
    }
    .right {
        float: right;
        height: $nav-bar-height;
        line-height: $nav-bar-height;
    }
    .btn {
        margin-left: 3rem;
    }
    .breath {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        text-align: center;
        animation: red-breath 3s ease-in-out infinite alternate;
    }
    @keyframes red-breath {
        0% {
          border: 2rem solid rgba(255, 0, 0, 0.3);
          box-shadow: 0 0 0 rgba(255, 0, 0, 0), 0 0 0 rgba(255, 0, 0, 0) inset;
        }
        100% {
          border: 2rem solid rgba(255, 0, 0, 1);
          box-shadow: 0 0 1rem rgba(255, 0, 0, 1),
            0 0 0.5rem rgba(255, 0, 0, 0.6) inset;
        }
    }
    @keyframes green-breath {
        0% {
          border: 2rem solid rgba(0, 255, 0, 0.3);
          box-shadow: 0 0 0 rgba(0, 255, 0, 0), 0 0 0 rgba(0, 255, 0, 0) inset;
        }
        100% {
          border: 2rem solid rgba(0, 255, 0, 1);
          box-shadow: 0 0 1rem rgba(0, 255, 0, 1),
            0 0 0.5rem rgba(0, 255, 0, 0.6) inset;
        }
    }
}

/* 主区域布局 */
.main-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;
    padding-top: 5.8rem;
    .main-title {
        min-height: 6rem;
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid #fafafa;
        border-radius: 4px;
        color: #666;
        background-color: #fafafa;
        background-color: #f5f5f5;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1.6rem;
        font-weight: 700;
    }
    .main-page-container {
        flex-grow: 1;
        margin-bottom: 1rem;
        overflow-y: auto;
        background-color: #fdfdfd;
    }
    /* 主区域顶部功能栏 */
    .top-bar {
        display: flex;
        flex-direction: row;
        .item {
            align-self: center;
        }
        .controls {
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            .item {
                margin-left: 3rem;
                align-self: center;
            }
        }
    }
}

/* 设备管理页 */
.landing-page {
    .main-page-container {
        display: flex;
        flex-direction: column;
    }
    .main-page-container > div:first-child {
        flex-grow: 1;
    }
    .main-page-container > div:last-child {
        min-height: 8rem;
    }
    .searchEqBox {
        width: 45rem;
    }
    .selectEp-footer {
        padding: 0.5rem 0;
        text-align: center;
    }
    .selectEp-footer-btn.left {
        margin-right: 2rem;
    }
    .selectEp-footer-btn.right {
        margin-left: 2rem;
    }
    .selectEp-container {
        height: 40rem;
        overflow-y: auto;
    }
    .pagination {
        text-align: center;
        margin-top: 0.5rem;
    }
}

/* 新增仪器页 */
.add-equipment {
    .main-page-container {
        padding: 1rem;
    }
    .company {
        margin-bottom: 0;
        margin-left: 4rem;
        width: 30rem;
        .el-input  input{
            transition: all .5s;
        }
        .el-input input:focus{
            width: 45rem;
        }
    }
    .box-item {
        position: relative;
        padding: 3rem .5rem 0;
        height: 36rem;
        margin: 0 1rem 1rem 0;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
        .device-input {
            margin-bottom: 0rem;
        }
        .btn {
            position: absolute;
            width: 8rem;
            height: 8rem;
            font-size: 4rem;
        }
        .btn.btn-add {
            top: 50%;
            left: 50%;
            transform: translate(-125%, -50%);
        }
        .btn.btn-delete {
            top: 50%;
            left: 50%;
            transform: translate(25%, -50%);
        }
    }
}

/* 测试配置 */
.test-config {
    .top-bar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .el-form--inline {
        padding-top: 8px;
    }
    .el-form-item {
        margin-bottom: 0;
    }
    .top-bar {
        justify-content: space-between;
    }
    .cycle-switch {
        display: inline-block;
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .testEq-item {
        margin: 2rem 1rem 1rem;
        padding: 1.5rem .5rem 2rem;
        border-top: 20px solid rgba(3,3,3,.6);
        border-radius: 20px 20px 0 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .testEq-item-conf {
        margin-top: 2.5rem;
    }
    .testEq-item-conf-input .el-input-group__prepend {
        padding: 0 0 0 5px;
    }
    .testEq-item h4 {
        color: #707377;
    }
    .warn-text {
        color: #333;
        font-size: 2rem;
        font-weight: 700;
        padding: 2rem 1rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
    }
}

/* 配置页 */
.workspace {
    .main-page-container {
        display: flex;
        flex-direction: row;
        
        &>.el-col {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .el-form-item {
            margin-bottom: 2rem;
        }
    }
    .title {
        margin: 1rem 0 1.5rem 0;
        padding: 1rem 0 1rem 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #666;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    }
    .search-sensor {
        padding-top: 2rem;
        .container {
            padding: 1.5rem 0.5rem 0.5rem 0.5rem;
            .item {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                border-radius: 1.5rem;
                text-align: center;
                margin-right: 0.5rem;
                color: #fff;
                background-color: steelblue;
            }
        }
    }
    .template {
        padding-left: 1rem;
        border-left: 1px dashed #dfdfdf;
        .el-form {
            max-width: 400px;
            margin-right: auto;
            margin-left: auto;
        }
        .el-button {
            margin-top: 2rem;
        }
    }
}

/* 实时监测 */
.dashboard {
    .container {
        height: 100%;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
    .origin-data {
        height: 100%;
        position: relative;
        border-right: 1px solid #dfdfdf;
        .tab-btns {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            background-color: #fff;
            h4 {
                float: left;
                padding-left: 4rem;
                height: 4rem;
                line-height: 4rem;
            }
            .el-button-group {
                float: left;
                font-size: 0;
            }
        }
        .dash-test-item {
            position: relative;
            padding: 8.5rem .5rem 0;
            height: 100%;
            overflow: auto;
            .el-col{
                height: 100%;
            }
            .head {
                position: absolute;
                top: 4rem;
                right: 0;
                z-index: 1;
            }
            h4 {
                text-align: center;
                padding-bottom: 1rem;
                font-size: 1.4rem;
                color: #707377;
            }
        }
    }
    .testData {
        height: 100%;
        overflow: auto;
        h4:after {
            @include clearfix;
        }
        h4 {
            padding: 1rem .5rem;
            z-index: 1;
            color: #666;
            background-color: #fafafa;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .left {
                float: left;
                padding-left: 1rem;
            }
            .right {
                float: right;
                padding-right: 2rem;
            }
        }
        .sensors {
            margin: .5rem 0;
            padding: .5rem;
            &::after {
                @include clearfix();
            }
            .sensor {
                width: 100/3*1%;
                float: left;
            }
            .sensor-content {
                margin-right: 5px;
                margin-bottom: 5px; 
                padding: 5px;
                border-left: 5px solid #85ce61;
                // border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}

/* 响应式布局 */
@media only screen and (min-width: 1300px) {
    .workspace {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .test-config {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .landing-page {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .add-equipment {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
}