/* mixin */
@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
      "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 1.4rem;
    color: #333;
}

.app-main {
    height: 100vh;
    width: 100vw;
    padding-top: 1px; /* 使Y轴向 异常滚动条消失 */
}

/* 侧边隐藏 主导航 */
.side {
    .side-btn {
        position: fixed;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        font-size: 3.6rem;
    }
    .side-container {
        height: 100%;
        background-color: #00142a;
    }
    .side-app-name {
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
}

/* 主导航 */
$nav-bar-height : 5.5rem;
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    min-height: $nav-bar-height;
    padding: 0 1rem;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    &:after {
        @include clearfix;
    }
    .nav-state {
        float: left;
        height: $nav-bar-height;
        line-height: $nav-bar-height;
    }
    .nav-state .item {
        margin-right: 1rem;
        vertical-align: middle;
    }
    .right {
        float: right;
        height: $nav-bar-height;
        line-height: $nav-bar-height;
    }
    .btn {
        margin-left: 3rem;
    }
    .breath {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        text-align: center;
        animation: red-breath 3s ease-in-out infinite alternate;
    }
    @keyframes red-breath {
        0% {
          border: 2rem solid rgba(255, 0, 0, 0.3);
          box-shadow: 0 0 0 rgba(255, 0, 0, 0), 0 0 0 rgba(255, 0, 0, 0) inset;
        }
        100% {
          border: 2rem solid rgba(255, 0, 0, 1);
          box-shadow: 0 0 1rem rgba(255, 0, 0, 1),
            0 0 0.5rem rgba(255, 0, 0, 0.6) inset;
        }
    }
    @keyframes green-breath {
        0% {
          border: 2rem solid rgba(0, 255, 0, 0.3);
          box-shadow: 0 0 0 rgba(0, 255, 0, 0), 0 0 0 rgba(0, 255, 0, 0) inset;
        }
        100% {
          border: 2rem solid rgba(0, 255, 0, 1);
          box-shadow: 0 0 1rem rgba(0, 255, 0, 1),
            0 0 0.5rem rgba(0, 255, 0, 0.6) inset;
        }
    }
}

/* 主区域布局 */
.main-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;
    padding-top: 5.8rem;
    .main-page-title {
        min-height: 6rem;
        padding: 1rem;
        border: 1px solid #ebeef5;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        font-size: 1.6rem;
        font-weight: 700;
    }
    .main-page-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        padding: 1rem 1rem 0;
        overflow-y: auto;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
}

/* 主区域顶部功能栏 */
.top-bar {
    display: flex;
    flex-direction: row;
    .top-bar-item {
        align-self: center;
    }
    .top-bar-controls {
        flex-grow: 1;
        display: flex;
        flex-direction: row-reverse;
    }
    .top-bar-control-item {
        margin-left: 3rem;
        align-self: center;
    }
}

/* 设备管理页 */
.landing-page {
    .main-page-container {
        display: flex;
        flex-direction: column;
    }
    .main-page-container > div:first-child {
        flex-grow: 1;
    }
    .main-page-container > div:last-child {
        min-height: 8rem;
    }
    .searchEqBox {
        width: 45rem;
    }
    .selectEp-footer {
        padding: 0.5rem 0;
        text-align: center;
    }
    .selectEp-footer-btn.left {
        margin-right: 2rem;
    }
    .selectEp-footer-btn.right {
        margin-left: 2rem;
    }
    .selectEp-container {
        height: 40rem;
        overflow-y: auto;
    }
    .pagination {
        text-align: center;
        margin-top: 0.5rem;
    }
}

/* 新增仪器页 */
.add-equipment {
    .add-equip-header {
        position: relative;
        padding: 1.5rem 0 0 0;
    }
    .add-equip-header .company-input {
        width: 43%;
    }
    .box-item {
        position: relative;
        padding-top: 3rem;
        height: 36rem;
        margin-bottom: 1.5rem;
    }
    .device-input {
        margin-bottom: 0rem;
    }
    .box-add-btn .btn {
        position: absolute;
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
    }
    .box-add-btn .btn.btn-add {
        top: 50%;
        left: 50%;
        transform: translate(-125%, -50%);
    }
    .box-add-btn .btn.btn-delete {
        top: 50%;
        left: 50%;
        transform: translate(25%, -50%);
    }
}

/* 测试配置 */
.test-config {
    .top-bar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .el-form--inline {
        padding-top: 8px;
    }
    .el-form-item {
        margin-bottom: 0;
    }
    .top-bar {
        justify-content: space-between;
    }
    .cycle-switch {
        display: inline-block;
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .testEq-item {
        margin-bottom: 1rem;
    }
    .testEq-item h4 {
        color: #707377;
    }
    .testEq-item-conf {
        margin-top: 2.5rem;
    }
    .testEq-item-conf-input .el-input-group__prepend {
        padding: 0 0 0 5px;
    }
    .testEq-item {
        margin-bottom: 1rem;
    }
    .testEq-item h4 {
        color: #707377;
    }
    .testEq-item-conf {
        margin-top: 2.5rem;
    }
    .testEq-item-conf-input .el-input-group__prepend {
        padding: 0 0 0 5px;
    }
    .warn-text {
        color: #333;
        font-size: 1.6rem;
        font-weight: 600;
        font-style: italic;
    }
}

/* 配置页 */
.workspace {
    .main-page-container {
        display: flex;
        flex-direction: row;
    }
    .main-page-container > div:first-child {
        padding-right: 1rem;
    }
    .main-page-container > div:last-child {
        padding-left: 1rem;
    }
    .wk-item-title {
        font-size: 1.5rem;
        font-weight: lighter;
        color: #303133;
    }
    .wk-item-search-sensor {
        padding-top: 2rem;
    }
    .wk-item-search-sensor-container {
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    }
    .searched-sensor-item {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 1.5rem;
        text-align: center;
        margin-right: 0.5rem;
        color: #fff;
        background-color: steelblue;
    }
    .wk-item-pie {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .wk-item-pie.box1 {
        padding-top: 1rem;
    }
    .wk-item-pie.wk-template1 {
        padding-top: 0;
    }
    .wk-template-btns {
        padding-top: 1rem;
    }
}

/* 实时监测 */
.dashboard {
    .saveData {
        position: fixed;
        top: 1.2rem;
        right: 4rem;
        z-index: 1;
    }
    .dash-test-item {
        // padding: 0 .5rem;
        padding-top: 1rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .dash-test-item .el-row{
        height: 100%;
    }
    .dash-test-item .el-col{
        height: 100%;
    }
    .dash-test-item > h4 {
        text-align: center;
        padding-bottom: 1rem;
        font-size: 1.4rem;
        color: #707377;
    }
    .dash-test-item .test-item-chart {
        height: 47rem;
    }
    .dash-test-item .test-item-data {
        height: 47rem;
        overflow: auto;
    }
    .dash-test-item .test-item-col {
        text-align: center;
    }
}